.box {
    overflow: hidden;
    display: contents;
    position: relative;
}

.profile {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.gear-icon {
/*  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;*/
}